<h2><%= @upload_file.name %></h2>

<%#= image_tag(@upload_file.thumbnail_url, :id => "data-image") if @upload_file.thumbnail.present? %>

<%= video_tag(@upload_file.video_file_url, :controls => true, :controlslist => "nodownload", :preload => true,
 :loop => true, :poster => @upload_file.thumbnail_url, :id => "data") if @upload_file.video_file.present? %>

