<h2><%= @upload_file.name %></h2>
<%#= image_tag(@upload_file.file_url, :id => "data-image") if @upload_file.file.present? %>
<%= video_tag(@upload_file.file_url, :controls => true, :preload => true,
 :loop => true, :id => "data") if @upload_file.file.present? %>
<%#= video_tag 'test.webm', autoplay: true, muted: true, controls: true, preload: true %>
