// Place all the styles related to the uploader controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.error {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
}
#data {
  width: 65%;
  max-width: 750px;
  margin: 2% 20%;
}
// #data-image {
//   width: 60%;
//   max-width: 750px;
//   margin: 2% 20%;
// }