// Place all the styles related to the uploader controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.error {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
}
img {
  width: 200px;
}